#survey-pagination
{
    float: right;
}
.validation-warning
{
    margin: 10px 0 2px;
    color: red;
    font-style: italic;
}
.question-container
{
    border: 1px solid #ddd;
    padding: 3px 2px;
    margin-bottom: 2px;
}
.toggle-button
{
    width: 110px;
    cursor: pointer;
    font-weight: bold;
    color: #aaa;
    font-size: 10px;
}